.btn-outline {
    background-color: #fff !important;
    border-color: $gray;
}

.btn-outline-primary {
    border-color: $brand-primary  !important;
    color: $brand-primary  !important;
}

.btn-outline-info {
    border-color: $brand-info  !important;
    color: $brand-info  !important;
}

.btn-outline-success {
    border-color: $brand-success  !important;
    color: $brand-success  !important;
}

.btn-outline-warning {
    border-color: $brand-warning  !important;
    color: $brand-warning  !important;
}

.btn-outline-danger {
    border-color: $brand-danger !important;
    color: $brand-danger !important;
}