footer {
    background-color: $brand-primary;
    color: #fff;
    font-size: 12px;

    a {
        color: darken(#fff, 20%);
        transition: color 0.25s ease;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }

    .footer--logo {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .footer--text {
        font-style: italic;
        margin-bottom: 15px;
        line-height: 1.8;
    }

    .footer--address {
        line-height: 1.8;
    }

    .footer--menu {
        margin-bottom: 50px;
        list-style-type: none;
        padding-left: 0;

        .footer--menu__heading {
            text-transform: uppercase;
            margin-bottom: 15px;
            font-weight: 600;
        }

        .footer--menu__item {
            line-height: 2.0;
        }
    }

    .footer--social {
        list-style-type: none;
        padding-left: 0;

        .footer--social__heading {
            text-transform: uppercase;
            margin-bottom: 15px;
            font-weight: 600;
        }

        .footer--social__item {
            line-height: 2.0;
        }
    }

    .row {
        &:last-child {
            margin-top: 30px;
            text-align: center;
        }
    }
}