.navbar {
    margin-bottom: 0 !important;

    .container-fluid {
        padding-right: 0;
    }
}

.navbar-brand {
    padding-left: 0 !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.7px;
    font-size: 16px !important;
}

.navbar-default {
    border: none !important;
}

.navbar-collapse {
    padding-right: 0 !important;
}