extends ../layouts/master.jade

block title
    title KodeMate - About Page

block prepend css
    link(rel="stylesheet", href="css/about.css")

block content
    include ../components/meta
    include ../components/navbar

    include ../mixins/header
    +header('Giới thiệu', 'Đôi điều giới thiệu về KodeMate và người sáng lập.')

    section#block-story
        .container
            .row
                .col-md-12
                    h2 Nguồn gốc

            .row
                .col-md-12
                    p KodeMate trước đây là một hoạt động nhỏ của anh #[strong Pete Houston], đào tạo có chọn lọc các nhóm bạn sinh viên tại các trường đai học, cao đẳng và trường nghề có đam mê và mong muốn theo đuổi trở thành lập trình viên. Và cho đến nay đã huấn luyện được khá nhiều bạn học viên đã tốt nghiệp và trở thành lập trình viên có kĩ thuật tốt đã và đang làm việc tại các công ty công nghệ trong và ngoài nước.
                    p Ở thời điểm hiện tại, như các bạn đã biết, nguồn cung về nhân lực trong lĩnh vực lập trình là một con số khá lớn nhưng lại không hề đáp ứng nổi một phần nhỏ về nguồn cung trong thị trường. Bởi lẽ, chất lượng và trình độ cơ bản của sinh viên trong lĩnh vực CNTT khi ra trường không đáp ứng được nhu cầu thiết yếu.
                    p Chính vì vậy, KodeMate từ một hoạt động đào tạo nhỏ nay chính thức được mở rộng để các bạn sinh viên có đam mê và khát vọng theo đuổi lĩnh vực lập trình có thể được huấn luyện và đào tạo một cách bài bản, được hướng dẫn có chuyên sâu và có thể làm việc và tạo ra sản phẩm để đáp ứng yêu cầu của các công ty công nghệ.

    section#block-founder
        .container
            .row
                .col-md-12
                    h2 Người sáng lập

            .row
                .col-md-3
                    img(src="http://petehouston.com/assets/img/avatar.png", alt="", class="img-responsive")
                .col-md-9
                    p
                        | Người sáng lập ra KodeMate là anh Pete Houston &nbsp;(
                        a(href="http://petehouston.com") http://petehouston.com
                        | )&nbsp; là một trong những chuyên gia về đào tạo lập trình viên. Anh đã từng làm việc cho nhiều công ty lớn trong và ngoài nước như: FPT, Naver Hàn Quốc, LINE ...
                    p Anh là một trong những người đầu tiên đặt dấu ấn chương trình đào tạo Fresher của FPT.
                    p Là một người vui vẻ, hoà đồng, yêu thích công nghệ và đào tạo, anh luôn dành thời gian nghiên cứu về những phương pháp đào tạo hiệu quả nhất cho các bạn sinh viên, hay các bạn đang thực tập, đi làm.
                    p Với mong muốn đóng góp sức mình vào một phần nhỏ bé để thay đổi chất lượng giáo dục trong nền CNTT Việt Nam và nâng cao chất lượng của sinh viên, KodeMate được thành lập để thắp sáng giấc mơ đó.



    include ../components/footer

