extends ../layouts/master.jade

block title
    title KodeMate - About Page

block prepend css
    link(rel="stylesheet", href="css/about.css")

block content
    include ../components/meta
    include ../components/navbar

    include ../mixins/header
    +header('Giới thiệu', 'Đôi điều giới thiệu về KodeMate và các thành viên.')

    section#block-tutors
        .container
            .row
                .col-md-12
                    h2 Who are we?

            .row
                .col-md-12
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque hic velit, perspiciatis magni repudiandae sunt quis suscipit nisi officiis officia? Rerum maxime dolorem repellendus ut vel necessitatibus voluptatem in id.

    section#block-members
        .container
            .row
                .col-md-12
                    h2 Team members
                    p Introducction about our team members

            .row
                .col-md-6
                    .member--card
                        .row
                            .col-md-5
                                .member--card__image
                                    img(src="http://petehouston.com/assets/img/avatar.png", alt="", class="img-responsive img-circle", width="160")
                            .col-md-7
                                .member--card__info
                                    .member--card__name
                                        h4 Pete Houston
                                    .member--card__title
                                        span CEO, Founder
                                    .member--card__description
                                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio ad, dolorum iure saepe minima in laboriosam, unde molestias, obcaecati quis autem voluptas molestiae consectetur veritatis possimus deserunt impedit eius amet.

                .col-md-6
                    .member--card
                        .row
                            .col-md-5
                                .member--card__image
                                    img(src="http://petehouston.com/assets/img/avatar.png", alt="", class="img-responsive img-circle", width="160")
                            .col-md-7
                                .member--card__info
                                    .member--card__name
                                        h4 Pete Houston
                                    .member--card__title
                                        span CEO, Founder
                                    .member--card__description
                                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio ad, dolorum iure saepe minima in laboriosam, unde molestias, obcaecati quis autem voluptas molestiae consectetur veritatis possimus deserunt impedit eius amet.



    include ../components/footer

