extends ../layouts/master.jade

block title
    title KodeMate - Benefits Page

block prepend css
    link(rel="stylesheet", href="css/benefits.css")

block content
    include ../components/meta
    include ../components/navbar

    header
        .container
            h1 Benefits
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sunt eveniet sit minima, ratione autem.



    include ../components/footer
