extends ../layouts/master.jade

block title
    title KodeMate - One Course Page

block prepend css
    link(rel="stylesheet", href="css/course.css")

block content
    include ../components/meta
    include ../components/navbar

    header
        div(class="container")
            h1 Getting started with PHP web development
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sunt eveniet sit minima, ratione autem.

    section(id="block-course")
        div(class="container")
            div(class="row")
                div(class="col-md-9")
                    div(class="card--about")
                        h2 Giới thiệu về khoá học
                        div(class="row")
                            div(class="col-md-4")
                                h4 what will i learn?
                            div(class="col-md-8")
                                ul
                                    li Embed HTML5
                                    li Create clikable hotspot video
                                    li Create event traigger for video
                                    li Video processing
                        div(class="row")
                            div(class="col-md-4")
                                h4 Who is this for?
                            div(class="col-md-8")
                                ul
                                    li Coders who understands basics
                                    li Not for newbies
                        div(class="row")
                            div(class="col-md-4")
                                h4 What are requirements?
                            div(class="col-md-8")
                                ul
                                    li Basic understanding of HTML
                                    li Basic understanding of HTML
                                    li Basic understanding of HTML
                        div(class="row")
                            div(class="col-md-12")
                                h4 Course description
                                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus corporis cupiditate cumque laborum suscipit maiores repellat rem quibusdam, excepturi tempora, magni doloremque animi soluta ullam, quasi recusandae? Temporibus, magni a!

                        div(class="row")
                            div(class="col-md-9")
                                h2 Nội dung chương trình học
                                p Khoá học sẽ được tổ chức với những bài sau đây.

                                ul(class="lesson--list")
                                    li
                                        i(class="fa fa-play")
                                        span(class="counter") Buoi 1:
                                        span(class="title") Gioi thieu ve lap trinh web
                                    li
                                        i(class="fa fa-play")
                                        span(class="counter") Buoi 1:
                                        span(class="title") Gioi thieu ve lap trinh web
                                    li
                                        i(class="fa fa-play")
                                        span(class="counter") Buoi 1:
                                        span(class="title") Gioi thieu ve lap trinh web
                                    li
                                        i(class="fa fa-play")
                                        span(class="counter") Buoi 1:
                                        span(class="title") Gioi thieu ve lap trinh web
                                    li
                                        i(class="fa fa-play")
                                        span(class="counter") Buoi 1:
                                        span(class="title") Gioi thieu ve lap trinh web
                                    li
                                        i(class="fa fa-play")
                                        span(class="counter") Buoi 1:
                                        span(class="title") Gioi thieu ve lap trinh web
                                    li
                                        i(class="fa fa-play")
                                        span(class="counter") Buoi 1:
                                        span(class="title") Gioi thieu ve lap trinh web
                                    li
                                        i(class="fa fa-play")
                                        span(class="counter") Buoi 1:
                                        span(class="title") Gioi thieu ve lap trinh web


                div(class="col-md-3")
                    p(class="price") 800,000 VND
                    div(class="cta-buttons")
                        a(class="btn btn-primary", href="#") Dang ki ngay
                        a(class="btn btn-outline-primary", href="#") Lien he





    include ../components/footer

