extends ../layouts/master.jade

block title
    title KodeMate - FAQs Page

block prepend css
    link(rel="stylesheet", href="css/faqs.css")

block content
    include ../components/meta
    include ../components/navbar

    header
        .container
            h1 FAQs
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sunt eveniet sit minima, ratione autem.



    include ../components/footer
