extends ../layouts/master.jade

block title
    title KodeMate - FAQs Page

block prepend css
    link(rel="stylesheet", href="css/faqs.css")

block content
    include ../components/meta
    include ../components/navbar

    header
        .container
            h1 Câu hỏi thường gặp
            p  Tổng hợp những câu hỏi thường gặp của các bạn học viên.

    section#block-faqs
        .container
            .row

                .col-md-9
                    .list-group
                        .list-group-item
                            h5.list-group-item-heading Có yêu cầu gì cần thiết khi đăng kí học tại KodeMate hay không?
                            .list-group-item-text Mỗi khoá học tuỳ thuộc vào chuyên mục sẽ có những yêu cầu riêng. Tuy nhiên, các khoá học đều có những yêu cầu chung sau:
                                ul
                                    li Cần có một laptop để sử dụng.
                                    li Cần tâm lý, thái độ và tư tưởng định hướng học tốt và kỉ luật.

                    .list-group
                        .list-group-item
                            .list-group-item-heading Làm thế nào để đăng kí tham gia khoá học?
                            .list-group-item-text Trong mỗi khoá học thông báo trong lịch khai giảng đều có nút đăng kí, các bạn xem thông tin cụ thể về khoá học, nếu cảm thấy muốn tham gia, hãy ấn vào nút #[strong Đăng kí]. Sau đó, điền các thông tin cần thiết, và chờ kết quả hồi âm từ chúng tôi.

                    .list-group
                        .list-group-item
                            .list-group-item-heading Số lượng học viên mỗi lớp học là bao nhiêu?
                            .list-group-item-text Để đảm bảo chất lượng, mỗi lớp sẽ chỉ trong khoảng từ 15-25 bạn học viên, số lưọng không quá ít, cũng không quá nhiều đảm bảo các bạn có thể luyện cách làm việc theo nhóm và cách tự làm việc một mình hiệu quả.

                    .list-group
                        .list-group-item
                            .list-group-item-heading Thời lượng của mỗi khoá học là bao lâu?
                            .list-group-item-text Trung bình mỗi khoá học sẽ kéo dài từ 8-20 buổi, tuỳ thuộc vào nội dung cụ thể của khoá học để đảm bảo học viên có thể nắm bắt kĩ thuật và tạo ra sản phẩm một cách tốt nhất.

                    .list-group
                        .list-group-item
                            .list-group-item-heading Thời lượng mỗi buổi học là bao lâu?
                            .list-group-item-text Mỗi buổi có thời lượng trung bình từ 2 đến 3 tiếng, đảm bảo để học viên có thể vừa học vừa thực hành vừa có thể trao đổi và học các kĩ năng ngay tại lớp một cách hiệu quả.

                    .list-group
                        .list-group-item
                            .list-group-item-heading Tôi muốn học nhưng không biết nên bắt đầu từ khoá học nào, vậy phải làm sao?
                            .list-group-item-text Hãy liên hệ với chúng tôi trực tiếp ngay để nhận được sự tư vấn và định hướng cho việc đầu tư vào tương lai của bạn.
                                ul
                                    li #[i.fa.fa-phone] 0906-284-977
                                    li #[i.fa.fa-envelope] contact@kodemate.com

                    .list-group
                        .list-group-item
                            .list-group-item-text Bạn có câu hỏi hay thắc mắc khác muốn nhận được sự giải đáp và hỗ trợ từ KodeMate? Hãy liên hệ trực tiếp với chúng tôi qua số điện thoại: 0906-284-977, hoặc qua thư điện tử contact@kodemate.com.

    section#block-cta
        .container
            .row
                .col-md-12.text-center
                    h3 Thời gian không còn nhiều, chần chừ gì nữa, đăng kí học ngay thôi chứ?
                    a(href="courses.html", class="btn btn-outline-danger") Xem lịch khai giảng


    include ../components/footer
