extends ../layouts/master.jade



block title
    title KodeMate - Index Page

block prepend css
    link(rel="stylesheet", href="css/index.css")

block content
    include ../components/meta.jade

    section#masthead
        include ../components/navbar.jade

        .jumbotron
            .container
                h1.title Tự tin lập trình chuyên nghiệp
                p.description Với KodeMate, bạn sẽ được huấn luyện để trở thành một lập trình viên tài năng và chuyên nghiệp hơn.
                .actions
                    a(class="btn btn-outline btn-outline-inverse btn-lg") Tìm hiểu thêm
                    a(class="btn btn-danger btn-lg") Xem danh sách khoá học

    section#block-benefits
        .container
            .row
                .col-md-12
                    h2 Vì sao bạn nên chọn học tại KodeMate?
                    p Không đơn giản chỉ là học, mà còn là thực hành và làm những dự án thực trong quá trình huấn luyện.

            .row
                .col-md-4
                    .benefits
                        .benefits--icon: i(class="fa fa-facebook")
                        .benefits--title Huấn luyện bài bản
                        .benefits--text
                            p Các bạn sẽ được đào tạo một cách bài bản có khoa học và đặc biệt, các bạn sẽ được hướng dẫn về lộ trình hướng tới lĩnh vực mà bạn mong muốn đạt được.
                .col-md-4
                    .benefits
                        .benefits--icon: i(class="fa fa-facebook")
                        .benefits--title Áp dụng thực tế
                        .benefits--text
                            p Không phải là chỉ học lý thuyết và làm các bài tập thực hành nhỏ, ở đây, các bạn sẽ được huấn luyện để áp dụng vào những dự án làm sản phẩm thực tế.
                .col-md-4
                    .benefits
                        .benefits--icon: i(class="fa fa-facebook")
                        .benefits--title Học hỏi từ kinh nghiệm
                        .benefits--text
                            p Điều lý thú hơn tại KodeMate là các bạn sẽ được học lập trình từ các chuyên gia có kinh nghiệm đã từng làm trong các tập đoàn, công ty lớn.
            .row
                .col-md-4
                    .benefits
                        .benefits--icon: i(class="fa fa-facebook")
                        .benefits--title Tạo ra sản phẩm thực
                        .benefits--text
                            p Kết thúc mỗi khoá học, các bạn đều có cơ hội để cùng các giảng viên để tạo ra sản phẩm riêng được viết bởi chính những dòng code mà bạn viết và chia sẻ ra thế giới.
                .col-md-4
                    .benefits
                        .benefits--icon: i(class="fa fa-facebook")
                        .benefits--title Tiếp cận công nghệ mới
                        .benefits--text
                            p Tại KodeMate, các bạn sẽ luôn được đào tạo với chương trình áp dụng những nền tảng công nghệ hiện đại và mới nhất mà được các công ty sử dụng.
                .col-md-4
                    .benefits
                        .benefits--icon: i(class="fa fa-facebook")
                        .benefits--title Cơ hội về nghề nghiệp
                        .benefits--text
                            p Các bạn băn khoăn tốt nghiệp xong thì liệu có xin được việc làm? Với việc được đào tạo tại KodeMate, các bạn sẽ có được cơ hội săn đón bởi các nhà tuyển dụng.

            .row.more
                .col-md-12.text-center
                    p Bạn có thể tham khảo rõ hơn về
                    a(class="btn btn-outline btn-outline-primary", href="benefits.html") lợi ích khi học tại KodeMate


    section#block-courses
        .container
            .row
                .col-md-12
                    h2 Danh sách các khoá học
                    p Có khá nhiều khoá học cho bạn chọn lựa theo nền tảng công nghệ bạn muốn định hướng.

            .row
                include ../mixins/course_card
                .col-md-4
                    +course_card('Nhập môn lập trình web với HTML/CSS', '800,000 VND', '15/08/2016', 'http://placehold.it/400x250', 'Học lập trình web một cách chuyên nghiệp', 'course.html')
                .col-md-4
                    +course_card('Lập trình web với PHP/Laravel', '1.800,000 VND', '15/08/2016', 'http://placehold.it/400x250', 'Học lập trình web PHP một cách chuyên nghiệp', 'course.html')
                .col-md-4
                    +course_card('Nhập môn lập trình web với HTML/CSS', '800,000 VND', '15/08/2016', 'http://placehold.it/400x250', 'Học lập trình web một cách chuyên nghiệp', 'course.html')


            .row.courses--request
                .col-md-12
                    p.text-center
                        a(class="btn btn-outline btn-outline-primary", href="#") Xem tất cả các khoá học

    section#block-subscription
        .container
            .row
                .col-md-12
                    h4 Bạn muốn đăng kí nhận bản tin từ KodeMate về các khóa học mới
                    .form-group
                        input.form-control(type="text")
                        button(class="btn btn-info js-btn-subscribe") Register now

    include ../components/footer.jade
