extends ../layouts/master.jade



block title
    title KodeMate - Index Page

block prepend css
    link(rel="stylesheet", href="vendor/slick-carousel/slick/slick.css")
    link(rel="stylesheet", href="vendor/slick-carousel/slick/slick-theme.css")
    link(rel="stylesheet", href="css/index.css")

block append js
    script(src="vendor/slick-carousel/slick/slick.js")
    script(src="js/index.js")

block content
    include ../components/meta.jade

    section#masthead
        include ../components/navbar.jade

        .jumbotron
            .container
                h1.title Học lập trình chuyên nghiệp
                p.description Với KodeMate, bạn sẽ được huấn luyện để trở thành một lập trình viên tài năng và chuyên nghiệp.
                .actions
                    a(href="#block-problems", class="btn btn-outline btn-outline-inverse btn-lg") Tìm hiểu thêm
                    a(href="courses.html", class="btn btn-danger btn-lg") Xem danh sách khoá học

    section#block-problems
        .container
            .row
                .col-md-6
                    h2 Có những điều lo lắng
                    img(src="img/need-a-job.png", alt="", class="problem")

                .col-md-6
                    p Đã vất vả đi học đại học mấy năm liền, dù bạn là sinh viên khoa Công Nghệ Thông Tin, Khoa Học Máy Tính, Toán Tin, Điện Tử Viễn Thông... hay khoa nào đi chăng nữa, khi tốt nghiệp ra trường là lúc bạn sẽ phải đối mặt với cuộc sống, và hơn hết, với những ai mong muốn trở thành lập trình viên, thì đều phải đối mặt với những khó khăn này:
                    ul
                        li: #[img(src="img/icon-face-sad.png", alt="", class="problem-sm")] Bạn không có ai định hướng cho bạn khi còn đang học ở trường?
                        li: #[img(src="img/icon-face-sad.png", alt="", class="problem-sm")] Bạn chẳng biết nên bắt đầu học lập trình như thế nào?
                        li: #[img(src="img/icon-face-sad.png", alt="", class="problem-sm")] Bạn không biết nên làm gì cho đồ án tốt nghiệp?
                        li: #[img(src="img/icon-face-sad.png", alt="", class="problem-sm")] Tốt nghiệp xong, không xin được việc !!!
                        li: #[img(src="img/icon-face-sad.png", alt="", class="problem-sm")] Đi xin việc mà nhà tuyển dụng hay hỏi kinh nghiệm, mà bạn thì lại không có?
                        li: #[img(src="img/icon-face-sad.png", alt="", class="problem-sm")] ... (và còn nhiều nữa)
                    p.focus Vậy phải làm gì để xoá bỏ những điều lo lắng đó?
                    p.cta Bạn hoàn toàn có thể làm chủ được khả năng của bạn, và để làm được điều đó, #[span.highlight hãy tham gia huấn luyện lập trình tại KodeMate] để thay đổi mọi thứ.



    section#block-benefits
        .container
            .row
                .col-md-12
                    h2 Vì sao bạn nên chọn học tại KodeMate?
                    p Không đơn giản chỉ là học, mà còn là thực hành và làm những dự án thực trong quá trình huấn luyện.

            .row
                .col-md-4
                    .benefits
                        .benefits--icon: i(class="fa fa-file-text-o")
                        .benefits--title Huấn luyện bài bản
                        .benefits--text
                            p Các bạn sẽ được đào tạo một cách bài bản có khoa học và đặc biệt, các bạn sẽ được hướng dẫn về lộ trình hướng tới lĩnh vực mà bạn mong muốn đạt được.
                .col-md-4
                    .benefits
                        .benefits--icon: i(class="fa fa-puzzle-piece")
                        .benefits--title Áp dụng thực tế
                        .benefits--text
                            p Không phải là chỉ học lý thuyết và làm các bài tập thực hành nhỏ, ở đây, các bạn sẽ được huấn luyện để áp dụng vào những dự án làm sản phẩm thực tế.
                .col-md-4
                    .benefits
                        .benefits--icon: i(class="fa fa-user-secret")
                        .benefits--title Học hỏi từ kinh nghiệm
                        .benefits--text
                            p Điều lý thú hơn tại KodeMate là các bạn sẽ được học lập trình từ các chuyên gia có kinh nghiệm đã từng làm trong các tập đoàn, công ty lớn.
            .row
                .col-md-4
                    .benefits
                        .benefits--icon: i(class="fa fa-thumbs-up")
                        .benefits--title Tạo ra sản phẩm thực
                        .benefits--text
                            p Kết thúc mỗi khoá học, các bạn đều có cơ hội để cùng các giảng viên để tạo ra sản phẩm riêng được viết bởi chính những dòng code mà bạn viết và chia sẻ ra thế giới.
                .col-md-4
                    .benefits
                        .benefits--icon: i(class="fa fa-flash")
                        .benefits--title Tiếp cận công nghệ mới
                        .benefits--text
                            p Tại KodeMate, các bạn sẽ luôn được đào tạo với chương trình áp dụng những nền tảng công nghệ hiện đại và mới nhất mà được các công ty sử dụng.
                .col-md-4
                    .benefits
                        .benefits--icon: i(class="fa fa-money")
                        .benefits--title Cơ hội về nghề nghiệp
                        .benefits--text
                            p Các bạn băn khoăn tốt nghiệp xong thì liệu có xin được việc làm? Với việc được đào tạo tại KodeMate, các bạn sẽ có được cơ hội săn đón bởi các nhà tuyển dụng.

            .row.more
                .col-md-12.text-center
                    a(class="btn btn-outline btn-outline-primary", href="benefits.html") Tìm hiểu lợi ích khi học tại KodeMate


    section#block-courses
        .container
            .row
                .col-md-12
                    h2 Khai giảng khoá học
                    p Có khá nhiều khoá học cho bạn chọn lựa theo nền tảng công nghệ bạn muốn định hướng.

            .row
                include ../mixins/course_card
                .col-md-4
                    +course_card('Nhập môn lập trình web với HTML/CSS', '800,000 VND', '15/08/2016', 'http://placehold.it/400x250', 'Học lập trình web một cách chuyên nghiệp', 'course.html')
                .col-md-4
                    +course_card('Lập trình web với PHP/Laravel', '1.800,000 VND', '15/08/2016', 'http://placehold.it/400x250', 'Học lập trình web PHP một cách chuyên nghiệp', 'course.html')
                .col-md-4
                    +course_card('Nhập môn lập trình web với HTML/CSS', '800,000 VND', '15/08/2016', 'http://placehold.it/400x250', 'Học lập trình web một cách chuyên nghiệp', 'course.html')


            .row.courses--request
                .col-md-12
                    p.text-center
                        a(class="btn btn-outline btn-outline-primary", href="#") Xem lịch khai giảng

    section#block-testimonials
        .container
            .row
                .col-md-12
                    h2 Chia sẻ của các bạn đã học tại KodeMate
            .row
                .col-md-12
                    .slider
                            .slide
                                img(src="http://petehouston.com/assets/img/avatar.png", alt="", class="img-responsive img-circle")
                                h4.name Pete Houston 1
                                p.text  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eum asperiores fuga tenetur provident, sunt voluptatum voluptatibus eaque!"
                            .slide
                                img(src="http://petehouston.com/assets/img/avatar.png", alt="", class="img-responsive img-circle")
                                h4.name Pete Houston 2
                                p.text  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eum asperiores fuga tenetur provident, sunt voluptatum voluptatibus eaque!"
                            .slide
                                img(src="http://petehouston.com/assets/img/avatar.png", alt="", class="img-responsive img-circle")
                                h4.name Pete Houston 3
                                p.text  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eum asperiores fuga tenetur provident, sunt voluptatum voluptatibus eaque!"

    section#block-subscription
        .container
            .row
                .col-md-12
                    h4 Bạn muốn đăng kí nhận bản tin qua email từ KodeMate về các khóa học mới
                    .form-group
                        .input-group
                            span.input-group-addon: i.fa.fa-envelope
                            input.form-control(type="text")
                        button(class="btn btn-info  js-btn-subscribe") Đăng kí nhận tin

    include ../components/footer.jade
