extends ../layouts/master.jade



block title
    title KodeMate - Index Page

block prepend css
    link(rel="stylesheet", href="css/index.css")

block content
    include ../components/meta.jade

    section#masthead
        include ../components/navbar.jade

        .jumbotron
            .container
                h1.title Tự tin lập trình chuyên nghiệp
                p.description Với KodeMate, bạn sẽ được huấn luyện để trở thành một lập trình viên tài năng và chuyên nghiệp hơn.
                .actions
                    a(class="btn btn-outline btn-outline-inverse btn-lg") Tìm hiểu thêm
                    a(class="btn btn-danger btn-lg") Xem danh sách khoá học

    section#block-benefits
        .container
            .row
                .col-md-12
                    h2 Benefits of KodeMate
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A sunt tenetur unde.

            .row
                .col-md-4
                    .benefits--icon: i(class="fa fa-facebook")
                    .benefits-text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis commodi molestias, qui voluptate id excepturi. Laborum.
                .col-md-4
                    .benefits--icon: i(class="fa fa-facebook")
                    .benefits-text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis commodi molestias, qui voluptate id excepturi. Laborum.
                .col-md-4
                    .benefits--icon: i(class="fa fa-facebook")
                    .benefits-text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis commodi molestias, qui voluptate id excepturi. Laborum.


    section#block-courses
        .container
            .row
                .col-md-12
                    h2 Course List
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia atque, suscipit eveniet!

            .row
                include ../mixins/course_card
                .col-md-4
                    +course_card('Nhập môn lập trình web với HTML/CSS', '800,000 VND', '15/08/2016', 'http://placehold.it/400x250', 'Học lập trình web một cách chuyên nghiệp', 'course.html')
                .col-md-4
                    +course_card('Lập trình web với PHP/Laravel', '1.800,000 VND', '15/08/2016', 'http://placehold.it/400x250', 'Học lập trình web PHP một cách chuyên nghiệp', 'course.html')
                .col-md-4
                    +course_card('Nhập môn lập trình web với HTML/CSS', '800,000 VND', '15/08/2016', 'http://placehold.it/400x250', 'Học lập trình web một cách chuyên nghiệp', 'course.html')


            .row.courses--request
                .col-md-12
                    p.text-center
                        a(href="#") Xem tất cả các khoá học

    //- section(id="block-tutors")
    //-     .container
    //-         div(class="row")
    //-             div(class="col-md-12")
    //-                 h2 About tutors
    //-                 p A bit information about tutors that will train you in technical courses.
    //-         div(class="row")
    //-             div(class="col-md-6")
    //-                 img(src="http://petehouston.com/assets/img/avatar.png", alt="", class="img-responsive", width="256")
    //-             div(class="col-md-6")
    //-                 p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias beatae quaerat aspernatur ad reiciendis placeat, sit nisi repellat accusamus culpa ratione dolorem dolor autem error repudiandae nam, quidem, architecto libero.

    section#block-cta
        .container
            .row
                .col-md-12
                    h2 So do you really want to level up your coding skills and become a good programmer?
                    button(class="btn btn-danger") Register now

    include ../components/footer.jade
