extends ../layouts/master.jade

block title
    title KodeMate - Index Page

block prepend css
    link(rel="stylesheet", href="css/index.css")

block content
    include ../components/meta.jade

    section(id="masthead")
        include ../components/navbar.jade

        div(class="jumbotron")
            div(class="container")
                h1 Hello, world!
                p Contents ...
                p: a(class="btn btn-primary btn-lg") Learn more

    section(id="block-benefits")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    h2 Benefits of KodeMate
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A sunt tenetur unde.

            div(class="row")
                div(class="col-md-4")
                    div(class="benefits--icon"): i(class="fa fa-facebook")
                    div(class="benefits-text")
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis commodi molestias, qui voluptate id excepturi. Laborum.
                div(class="col-md-4")
                    div(class="benefits--icon"): i(class="fa fa-facebook")
                    div(class="benefits-text")
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis commodi molestias, qui voluptate id excepturi. Laborum.
                div(class="col-md-4")
                    div(class="benefits--icon"): i(class="fa fa-facebook")
                    div(class="benefits-text")
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis commodi molestias, qui voluptate id excepturi. Laborum.


    section(id="block-courses")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    h2 Course List
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia atque, suscipit eveniet!

            div(class="row")
                div(class="col-md-4")
                    div(class="courses--card")
                        div(class="courses--card__image")
                            img(src="http://placehold.it/400x250", alt="", class="img-responsive")
                        div(class="courses--card__title")
                            h4 Getting started with PHP web development
                        div(class="courses--card__summary")
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique impedit ducimus praesentium illo reprehenderit, quibusdam saepe.
                        div(class="courses--card__actions")
                            button(class="btn btn-danger") Details
                            button(class="btn btn-danger") Register
                div(class="col-md-4")
                    div(class="courses--card")
                        div(class="courses--card__image")
                            img(src="http://placehold.it/400x250", alt="", class="img-responsive")
                        div(class="courses--card__title")
                            h4 Getting started with PHP web development
                        div(class="courses--card__summary")
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique impedit ducimus praesentium illo reprehenderit, quibusdam saepe.
                        div(class="courses--card__actions")
                            button(class="btn btn-danger") Details
                            button(class="btn btn-danger") Register
                div(class="col-md-4")
                    div(class="courses--card")
                        div(class="courses--card__image")
                            img(src="http://placehold.it/400x250", alt="", class="img-responsive")
                        div(class="courses--card__title")
                            h4 Getting started with PHP web development
                        div(class="courses--card__summary")
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique impedit ducimus praesentium illo reprehenderit, quibusdam saepe.
                        div(class="courses--card__actions")
                            button(class="btn btn-danger") Details
                            button(class="btn btn-danger") Register

            div(class="row")
                div(class="col-md-6")
                    p you can also request a course of your interests
                div(class="col-md-6")
                    button(class="btn btn-danger") Request a course

    //- section(id="block-tutors")
    //-     div(class="container")
    //-         div(class="row")
    //-             div(class="col-md-12")
    //-                 h2 About tutors
    //-                 p A bit information about tutors that will train you in technical courses.
    //-         div(class="row")
    //-             div(class="col-md-6")
    //-                 img(src="http://petehouston.com/assets/img/avatar.png", alt="", class="img-responsive", width="256")
    //-             div(class="col-md-6")
    //-                 p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias beatae quaerat aspernatur ad reiciendis placeat, sit nisi repellat accusamus culpa ratione dolorem dolor autem error repudiandae nam, quidem, architecto libero.

    section(id="block-cta")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    h2 So do you really want to level up your coding skills and become a good programmer?
                    button(class="btn btn-danger") Register now

    include ../components/footer.jade
