@import '../base';

h2 {
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: solid 1px $brand-danger;
}

p {
    margin-top: 25px;
    line-height: 2.0;
}

#block-founder {
    a {
        border-bottom: solid 1px;
        transition: color 0.3s ease;

        &:hover {
            text-decoration: none;
            color: #c0392b;
        }
    }
}