@import '../base';

#block-header {
    padding: 0;
    position: relative;
    height: 350px;

    background-image: url(https://source.unsplash.com/random/800x600);
    background-position: center center;
    background-size: cover;

    .overlay {
        opacity: 1;
        width: 100%;
        height: 100%;
        position: absolute;

        background: #485563; /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, rgba(44,62,80, 0.1) , rgba(44,62,80, 1)); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, rgba(44,62,80, 0.1) , rgba(44,62,80, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .container {
        position: relative;
        padding-top: 50px;
        text-align: center;

        .category {
            padding: 7px 20px;
            display: inline-block;
            // background-color: rgba(192,57,43, 1);
            text-transform: uppercase;
            border: solid 1px;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
        }

        h1 {
            color: #fff;
            line-height: 1.5;
        }
    }
}


#block-content {
    p {
        line-height: 2.0;
        font-size: 16px;
    }

    .part-nav {
        margin-top: 50px;

        & > a {
            margin: 20px auto;
        }

        .pager {
            li {
                margin-left: 20px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}