@import '../base';

#block-benefits {
    background-color: #fbfbfb;

    line-height: 2.0;

    .list-group {

        .list-group-item {
            padding: 25px;

            .list-group-item-heading {
                margin-bottom: 20px;
                text-transform: uppercase;
            }

            .list-group-item-text {
                line-height: 2.0;
            }
        }
    }
}

#block-cta {
    background-color: $brand-danger;
    color: #fff;

    h3 {
        margin-bottom: 35px;
    }

    .btn {
        padding: 10px 15px;
    }
}