@import '../base';

h1,
h2,
h3 {
    text-align: center;

    & + p {
        text-align: center;
    }
}

.navbar-default {
    background-color: rgba(44, 62, 80, 0.4) !important;
}

#masthead {
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(rgba(92, 110, 127, 0.2), rgba(44, 62, 80, 1.0)), url(../img/bg.jpg);
    background-size: cover;
    // backgroun

    .jumbotron {
        min-height: 500px;
        background: transparent !important;

        text-align: center;
    }
}

#block-benefits {
    .row {
        margin-bottom: 50px;
    }

    i.fa {
        font-size: 400%;
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
}

#block-courses {
    .row  {
        margin-bottom: 50px;

        &:last-child {
            height: 50px;
            line-height: 50px;
            vertical-align: middle;
            margin-bottom: 0;

            .col-md-6:first-child {
                text-align: right;
            }
        }
    }

    .courses--request .col-md-6 {
        color: #fff;

        background-color: #384f66;

    }
}

#block-tutors {
    .col-md-12 {
        text-align: center;
        margin-bottom: 45px;
    }

    img {
        margin: 0 auto;
    }
}

#block-cta {
    button {
        display: block;
        margin: 0 auto;
        margin-top: 35px;
    }
}