@import '../base';

h1,
h2,
h3 {
    text-align: center;

    & + p {
        text-align: center;
    }
}

h2 {

    &:after {
        content: " ";
        display: block;
        height: 1px;
        background-color: $brand-danger !important;
        width: 10%;
        margin: 30px auto;

    }
}

h2 + p {
    margin-bottom: 50px;
}

.navbar-default {
    background-color: rgba(44, 62, 80, 0.4) !important;
}

#masthead {
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(rgba(92, 110, 127, 0.2), rgba(44, 62, 80, 1.0)), url(../img/bg.jpg);
    background-size: cover;
    // backgroun

    .jumbotron {
        min-height: 500px;
        background: transparent !important;

        text-align: center;

        .title {
            margin-bottom: 30px;
        }

        .description {

            margin-bottom: 50px;
        }

        .actions {

            a {
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
                margin-right: 50px;
                color: #eee;

                &.btn-link {
                    border: solid 1px #fff !important;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    text-decoration: none;
                    color: #fff;
                }

                border-radius: 500px;
            }
        }
    }
}

#block-benefits {
    .row {
        margin-bottom: 50px;
    }

    i.fa {
        font-size: 400%;
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    .benefits {
        text-align: center;

        .benefits--icon {
            font-size: 24px;
        }

        .benefits--title {
            margin-top: 25px;
            margin-bottom: 25px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .benefits--text {
            line-height: 1.65;
        }
    }

    .more {
        a {
            margin-top: 15px;

            &.btn {
                padding: 10px 15px;
            }
        }
    }
}

#block-courses {
    background-color: #fbfbfb;
    .row  {
        margin-bottom: 50px;

        &:last-child {
            height: 50px;
            line-height: 50px;
            vertical-align: middle;
            margin-bottom: 0;

            .col-md-6:first-child {
                text-align: right;
            }
        }
    }

    .courses--request {
        color: #fff;

        a.btn {
            padding: 10px 15px;
        }
    }
}


#block-subscription {
    background-color: $brand-danger;
    color: #fff;
    text-align: center;

    .input-group {
        width: 50%;
        margin: 35px auto;
        .input-group-addon {
            padding: 0;
            padding-left: 10px;
            background-color: transparent;
            border: none;
            border-bottom: solid 1px #fff;
            color: #fff;
        }

        input {
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            border-bottom: solid 1px #fff;
            background-color: transparent !important;
            color: #fff;
            box-shadow: none;
            text-align: center;
            font-size: 18px;
            width: calc(100% - 24px);
        }
    }

    button.btn {
        padding: 10px 15px;
        border: solid 1px #fff;
        background-color: transparent;

        &:hover {
            background-color: #fff;
            color: $brand-danger;
        }
    }
}