footer
    .container
        .row
            .col-md-3
                .footer--logo") KodeMate
                .footer--text") Become a skillful programmer.

            .col-md-3
                ul.footer--menu
                    li.footer--menu__heading General
                    li.footer--menu__item: a(class="footer--link", href="#") About us
                    li.footer--menu__item: a(class="footer--link", href="#") Terms &amp; conditions
                    li.footer--menu__item: a(class="footer--link", href="#") Privacy policy

            .col-md-3
                ul.footer--menu
                    li.footer--menu__heading Courses
                    li.footer--menu__item: a(class="footer--link", href="#") Browse courses
                    li.footer--menu__item: a(class="footer--link", href="#") Request a course
                    li.footer--menu__item: a(class="footer--link", href="#") Check course status

            .col-md-3
                ul.footer--social
                    li.footer--social__heading Contact
                    li.footer--social__item: i(class="fa fa-facebook")
                    li.footer--social__item: i(class="fa fa-twitter")
                    li.footer--social__item: i(class="fa fa-envelope")

        .row
            .col-md-12
                p.copy Created by kodemate @ 2016.