footer
    .container
        .row
            .col-md-3
                .footer--logo KodeMate.
                .footer--text Công ty đào tạo nguồn lực công nghệ cao chuyên nghiệp.
                .footer--address Địa chỉ:
                    address Lê Đại Hành - Q. Hai Bà Trưng - Hà Nội

            .col-md-3
                ul.footer--menu
                    li.footer--menu__heading Thông tin chung
                    li.footer--menu__item: a(class="footer--link", href="benefits.html") Vì sao nên học tại KodeMate?
                    li.footer--menu__item: a(class="footer--link", href="faqs.html") Cẩu hỏi thường gặp
                    li.footer--menu__item: a(class="footer--link", href="about.html") Giới thiệu về chúng tôi

            .col-md-3
                ul.footer--menu
                    li.footer--menu__heading Về khoá học
                    li.footer--menu__item: a(class="footer--link", href="courses.html") Danh sách khoá học
                    li.footer--menu__item: a(class="footer--link", href="#") Yêu cầu khoá học
                    li.footer--menu__item: a(class="footer--link", href="#") Liên hệ

            .col-md-3
                ul.footer--social
                    li.footer--social__heading Liên hệ
                    li.footer--social__item: i(class="fa fa-facebook")
                    li.footer--social__item: i(class="fa fa-twitter")
                    li.footer--social__item: i(class="fa fa-envelope")

        .row
            .col-md-12
                p.copy Xây dựng bởi và bản quyền thuộc về KodeMate @ 2016.