footer
    div(class="container")
        div(class="row")
            div(class="col-md-3")
                div(class="footer--logo") KodeMate
                div(class="footer--text") Become a skillful programmer.

            div(class="col-md-3")
                ul(class="footer--menu")
                    li(class="footer--menu__heading") General
                    li(class="footer--menu__item"): a(class="footer--link", href="#") About us
                    li(class="footer--menu__item"): a(class="footer--link", href="#") Terms &amp; conditions
                    li(class="footer--menu__item"): a(class="footer--link", href="#") Privacy policy

            div(class="col-md-3")
                ul(class="footer--menu")
                    li(class="footer--menu__heading") Courses
                    li(class="footer--menu__item"): a(class="footer--link", href="#") Browse courses
                    li(class="footer--menu__item"): a(class="footer--link", href="#") Request a course
                    li(class="footer--menu__item"): a(class="footer--link", href="#") Check course status

            div(class="col-md-3")
                ul(class="footer--social")
                    li(class="footer--social__heading") Contact
                    li(class="footer--social__item"): i(class="fa fa-facebook")
                    li(class="footer--social__item"): i(class="fa fa-twitter")
                    li(class="footer--social__item"): i(class="fa fa-envelope")

        div(class="row")
            div(class="col-md-12")
                p(class="copy") created by kodemate @ 2016.