div(id="block-meta")
    div(class="container")
        div(class="row")
            div(class="col-md-6")
                ul(class="meta--left")
                    li(class="meta--left__item")
                        i(class="fa fa-phone")
                        span (+84)-906-284-977
                    li(class="meta--left__item")
                        i(class="fa fa-envelope")
                        a(class="text-link", href="contact@kodemate.com") contact@kodemate.com
            div(class="col-md-6")
                ul(class="meta--right")
                    li(class="meta--right__heading") Network:
                    li(class="meta--right__item"): i(class="fa fa-facebook")
                    li(class="meta--right__item"): i(class="fa fa-twitter")
                    li(class="meta--right__item"): i(class="fa fa-google-plus")