nav(class="navbar navbar-default", role="navigation")
    .container
        .container-fluid
            .navbar-header
                button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-ex1-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(class="navbar-brand", href="index.html") KodeMate

            .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav
                ul.nav.navbar-nav.navbar-right
                    li: a(href="courses.html") Các khoá học
                    li: a(href="faqs.html") Câu hỏi thường gặp
                    li: a(href="about.html") Giới thiệu