nav(class="navbar navbar-default", role="navigation")
    div(class="container")
        div(class="container-fluid")
            div(class="navbar-header")
                button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-ex1-collapse")
                    span(class="sr-only") Toggle navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                a(class="navbar-brand", href="index.html") KodeMate

            div(class="collapse navbar-collapse navbar-ex1-collapse")
                ul(class="nav navbar-nav")
                ul(class="nav navbar-nav navbar-right")
                    li: a(href="courses.html") Courses
                    li: a(href="about.html") About
                    li: a(href="#") Link