doctype html
html(lang="en")
    head
        block title
            title KoteMate
        link(rel="stylesheet", href="vendor/font-awesome/css/font-awesome.min.css")
        block css

    body

        block content
            h1 Layout master

        script(src="vendor/jquery/dist/jquery.min.js")
        script(src="vendor/bootstrap/dist/js/bootstrap.min.js")
        block js