mixin article_card()
    .article--card
        .article--card__image
            a(href="article.html")
                img.img-responsive(src="https://source.unsplash.com/random/1280x720", alt="")
            .category Tin tức
        .article--card__content
            .article--card__title
                a(href="article.html") Học lập trình web như thế nào
            .article--card__body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cumque sapiente qui, vero odio consequatur velit inventore, error atque, minima tempore ipsum. Placeat, adipisci.